.tickets {
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.tickets-product {
    padding: 10px;
}

.paid-order-message {
    color: blue;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
